.playBar {
  width: 100%;
  position: absolute;
  z-index: 2;
  height: 120px;
  padding-left: 40px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  user-select: none;
  display: flex;
}
.playerBarClose {
  font-size: 22px;
}
.mainTitle {
  width: 100%;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.subTitle {
  font-size: 12px;
}
